* {
    font-family: "Roboto", serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.content h1 {
    margin: 0;
}

#fade {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#modal {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    gap: 1.2rem;
    

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
    height: 90%;
    max-width: 70%;
    min-width: 50%;
    border-radius: 1.5rem;

    color: white;

    overflow-y: auto;

    z-index: 2;
}

#modal h2, #modal h1 {
    margin: 0;
    text-transform: capitalize;
}

#modal span {
    color: black;
    font-size: 1.2rem;
}

#modal ul {
    margin: 0;
    padding: 0;
}

#modal ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}

#modal .abilities-types {
    display: flex;
    justify-content: space-around;
}

#modal button {
    padding: 0.30rem 1.55rem;
    margin: 0.25rem 0;
    font-size: 1rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.2s filter;
}

#modal button:hover {
    filter: brightness(1.2);
}

@media only screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }

    #modal {
        max-width: 992px;
        height: auto;
        margin: 0.5rem auto;
        border-radius: 1rem;
    }
}